.icon-button {
  @include reset-button;
  @include square(48px);
  @include flex-center;

  position: relative;
  border-radius: var(--border-radius-small);

  color: var(--color-dark);

  @include hover {
    background-color: var(--color-accent);
    border-radius: var(--border-radius-small);
  }

  svg {
    width: 30px;
    height: 30px;
  }
}