.login {
  width: 100%;
  max-width: 500px;

  background-color: color-mix(in srgb, var(--color-dark-alt), transparent 35%);
  backdrop-filter: blur(12px);
  border-radius: var(--border-radius-large);
  padding: 30px 40px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
  color: var(--color-light);

  @include tablet {
    padding: 24px 36px;
  }

  @include mobile {
    padding: 18px 24px;
    border-radius: var(--border-radius);
  }

  &__title {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 24px;
    }

    @include mobile {
      margin-bottom: 18px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 20px;

    @include mobile {
      row-gap: 14px;
    }
  }

  &__name-row {
    display: flex;
    flex-direction: row;
    gap: 20px;

    @include mobile {
      gap: 14px;
    }
  }

  &__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    text-align: left;

    a:hover {
      text-decoration: underline;
    }
  }

  &__remember {
    display: flex;
    align-items: center;
  }

  &__footer {
    margin-top: 18px;

    a {
      font-weight: 600;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}