.rating-stars {
    &__row {
        display: flex;
        gap: 4px;
    }

    &__star {
        @include reset-button;
        font-size: 26px;
        line-height: 1;
        color: var(--color-lightgray);
        cursor: pointer;
        transition: color var(--transition-duration) ease;

        &.is-active {
            color: var(--color-accent);
        }
    }

    &--readonly &__star {
        cursor: default;
        font-size: 20px;
    }
}
