.services {

  &__list {
    grid-template-rows: repeat(3, minmax(auto, 1fr));

    @include tablet {
      grid-template-rows: auto;
    }

    @include mobile {
      grid-template-rows: auto;
    }
  }

  &__item {
    grid-column: span 1;
    height: 100%;

    &:nth-child(2) {
      grid-column: 3;
      grid-row: 1;
    }

    &:nth-child(3) {
      grid-column: 4;
      grid-row: 1;
    }

    &:nth-child(4) {
      grid-column: span 2;
      grid-row: 2;
    }

    &:nth-child(5) {
      grid-column: 4;
      grid-row: 2;
    }

    &:nth-child(6) {
      grid-column: 2;
      grid-row: 3;
    }

    &:nth-child(7) {
      grid-column: 3;
      grid-row: 3;
    }

    &:nth-child(8) {
      grid-column: 4;
      grid-row: 3;
    }

    @include tablet {
      &:nth-child(1n) {
        grid-column: span 1;
        grid-row: auto;
      }

      &:nth-child(4) {
        grid-column: span 2;
      }
    }

    @include mobile {
      &:nth-child(1n) {
        grid-column: span 1;
        grid-row: auto;
      }
    }
  }
}